[source]

# $SAGE_ROOT
<<<<<<< Updated upstream
sage_root: /path/to/sage/root
=======
sage_root: /home/user/sage-git
>>>>>>> Stashed changes

[target]

# add links to old sage version docs
show_older_versions: no
